<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/post']" href="#">All Posts</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <span *ngIf="!isEditMode">Add post</span>
        <span *ngIf="isEditMode">Edit post</span>
      </li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-5">
      <h3 *ngIf="!isEditMode">Add new post</h3>
      <h3 *ngIf="isEditMode">Edit post</h3>
      <form
        [formGroup]="postForm"
        (ngSubmit)="onSubmit(postForm.value)"
        *ngIf="postForm"
      >
        <div class="form-group">
          <label>Title</label>
          <input formControlName="title" type="text" class="form-control" />
          <div
            style="font-size: 12px"
            class="text-danger"
            *ngIf="
              formControls.title.touched &&
              formControls.title.hasError('required')
            "
          >
            This is a required field
          </div>
        </div>

        <div class="form-group">
          <label>Image</label>
          <select formControlName="imageUrl" type="text" class="form-control">
            <option *ngFor="let option of imageUrlDropdown" [value]="option">
              {{ option }}
            </option>
          </select>
          <small
            >Select any number from the list, it will generate random image for
            post.</small
          >
        </div>

        <div class="form-group">
          <label>Topics</label>
          <input formControlName="topics" type="text" class="form-control" />
          <small>Add comma seperated words related the post.</small>
          <div
            style="font-size: 12px"
            class="text-danger"
            *ngIf="
              formControls.topics.touched &&
              formControls.topics.hasError('required')
            "
          >
            This is a required field
          </div>
        </div>

        <div class="form-group">
          <label>Body</label>
          <textarea formControlName="body" class="form-control"></textarea>
          <div
            style="font-size: 12px"
            class="text-danger"
            *ngIf="
              formControls.body.touched &&
              formControls.body.hasError('required')
            "
          >
            This is a required field
          </div>
        </div>

        <button class="btn btn-primary" type="submit">
          <span *ngIf="!isEditMode">Submit</span>
          <span *ngIf="isEditMode">Update</span>
        </button>
      </form>
    </div>
  </div>
  <div *ngIf="savedSuccess" class="alert alert-success mt-4" role="alert">
    <span *ngIf="!isEditMode">Post saved successfully!!!</span>
    <span *ngIf="isEditMode">Post updated successfully!!!</span>
  </div>
</div>
