<ng-template [ngIf]="star === 1">
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
</ng-template>

<ng-template [ngIf]="star === 2">
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
</ng-template>

<ng-template [ngIf]="star === 3">
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
</ng-template>

<ng-template [ngIf]="star === 4">
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
</ng-template>

<ng-template [ngIf]="star === 5">
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
  <i style="color: goldenrod" class="fa fa-star" aria-hidden="true"></i>
</ng-template>
