<app-fullscreen
  *ngIf="isFullscreenShown$ | async"
  [htmlTemplate]="pokemonTeam"
  (fullscreenSubmit)="onFullscreenSubmit()"
></app-fullscreen>

<ng-container>
  <div class="text-center">
    <img
      [ngStyle]="{ width: '200px', 'margin-bottom': '25px' }"
      src="assets/images/pokemon-logo.png"
      alt="logo"
    />
    <ng-container
      *ngIf="
        selectedPokemons && selectedPokemons.length === 0;
        else listTemplate
      "
    >
      <p>Click the button below to make your pokemon team</p>
      <button type="button" class="btn btn-primary" (click)="makeTeam()">
        Make a team
      </button>
    </ng-container>
    <ng-template #listTemplate>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let pokemon of selectedPokemons">
          {{ pokemon.name }}
        </li>
      </ul>
    </ng-template>
  </div>
</ng-container>

<ng-template #pokemonTeam>
  <app-team></app-team>
</ng-template>
