/* You can add global styles to this file, and also import other style files */
@import url("./assets/styles/variables.css");

body {
  background-color: var(--bodyColor);
}

form.ng-invalid {
  button[type="submit"] {
    border: 1px solid #f2f2f2 !important;
    background-color: #dedede !important;
    pointer-events: none !important;
    color: #7d7d7d !important;
  }
}
